VITE_BACKEND_URL=http://localhost:8000
VITE_ALGORAND_NETWORK=testnet
VITE_ALGORAND_NODE_URL=https://testnet-api.algonode.cloud
VITE_ALGORAND_INDEXER_URL=https://testnet-idx.algonode.cloud
VITE_SUN_ASA_ID=0
VITE_ELEVENLABS_API_KEY=your_elevenlabs_key_here